Source: hidpi-daemon
Section: x11
Priority: optional
Maintainer: David Jordan <david2@system76.com>
Build-Depends: debhelper (>= 9), 
    dh-python, 
    python3-all,
    pyflakes3,
    python3-gi,
    python3-pydbus,
    python3-xlib,
    gir1.2-notify-0.7
Standards-Version: 3.9.8
X-Python3-Version: >= 3.4
Homepage: https://github.com/pop-os/hidpi-daemon

Package: hidpi-daemon
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
    python3-gi,
    python3-pydbus,
    python3-xlib,
    gir1.2-notify-0.7
Description: Daemon to manage HiDPI and LoDPI monitors on X
 HiDPI Daemon handles mixed-DPI monitor configurations and provides a simple mechanism to switch between HiDPI and LoDPI modes.
